<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>


<div class="container-fluid bg-grey">
    <h2>
        Dashboard
    </h2>
    <h3>
        <p><span th:text="${title}"/>: <span style="color:blue" th:text="${message}"/><br/></p>
        <p>Logged in as: <span style="color:blue" th:text="${userName}"/>; </p>
        Roles: <span style="color:brown" th:text="${userRoles}"/>;
    </h3>
    <h2>

        <a href="mail/send">-2. Send Mail</a>
        <br/>
        <br/>
        <a href="orders/list">-1. Browse Order List</a>
        <br/>
        <br/>
        <a href="order/create">0. Create Order</a>
        <br/>
        <br/>
        <a href="pizza/list">1. Browse Pizza list</a>
        <br/>
        <br/>
        <a href="pizza/pizzalist/upload">2. Import Pizza list</a>
        <br/>
        <br/>
        <br/>
        <a href="customer/list">3. Browse Customer list</a>
        <br/>
        <br/>
        <a href="customer/customerlist/upload">4. Import Customer list</a>
    </h2>

    <form action="/app/logout" method="post">
        <button type="submit" class="btn btn-warning btn-xs">Log out</button>
    </form>

    <footer style="margin-top:10px; text-align: center">&copy;Alex, Kyiv, 2017</footer>

</div>
</body>

</html>