<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ERROR</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div style="margin-left: 20px">
    <h1 class="text-danger">
       ERROR
    </h1>
    <h4 th:value="${exception.toString()}">
    </h4>
    </div>
</body>
</html>
