<!DOCTYPE html>
<html xmlns:springForm="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>

<form action="../pizza/addnew" method="post" modelAttribute="pizza" id="myForm">
    <!--<input class="hidden" id="command" name="command" value="">-->
    <!--<input class="hidden" id="Id" name="docId" value="">-->

    <div class="container-fluid bg-grey">
        <h2>
            Pizza
        </h2>

        <div class="form-group">
            <label class="lb-lg">ID
                <input class="form-control input-lg" th:value="${pizza.pizzaId}" name="pizzaId"/>
            </label>
        </div>

        <div class="form-group">
            <label class="lb-lg">Name
                <input class="form-control input-lg" th:value="${pizza.name}" name="name"/>
            </label>
        </div>
        <div class="form-group">
            <label class="lb-lg">Price
                <input class="form-control input-lg" th:value="${pizza.price}" name="price"/>
            </label>
            <!--<errors path="price" cssClass="error" />-->
        </div>
        <div class="form-group">
            <label class="lb-lg">Type
                <input class="form-control input-lg" th:value="${pizza.type}" name="type"/>
            </label>
        </div>

        <div class="text-center">
            <div class="btn-group">
                <button type="button" id="crtupd" class="btn1 btn-default btn-lg btn-success"
                        onclick="$('#myForm').submit()">
                    Save
                </button>
            </div>
        </div>
        <footer style="margin-top:10px; text-align: center">&copy;Alex, Kyiv, 2017</footer>

    </div>
</form>

<form action="/app/logout" method="post">
    <button type="submit" class="btn btn-warning btn-xs">Log out</button>
</form>

</body>

<script type="text/javascript">
    var name, latch = false;

    function doDelete(comm) {
        $('#command').val(comm);
        $('#Id').val($('.modalDeleteBtn').attr('id'));
        $('#myForm').submit();
    };

    function showDelete(event) {
        $('.modalDeleteBtn').attr('id', event.target.id);
        name = $('#documenttab #row' + event.target.id).text();
        if (!latch) {
            $('#myModalLabel').text($('#myModalLabel').text() + ' \'' + name + '\'');
            latch = true;
        }
        $('#myModal').modal('show');
    };
</script>
</html>