<!DOCTYPE html>
<html xmlns:springForm="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>

<form action="../customer/addnew" method="post" modelAttribute="customer" id="myForm">

    <div class="container-fluid bg-grey">
        <div style="width: 60%; float: left">
            <h2>
                Customer
            </h2>

            <div class="form-group">
                <label class="lb-sm">ID
                    <input class="form-control input-sm" th:value="${customer.customerId}" name="customerId"/>
                </label>
            </div>

            <div class="form-group">
                <label class="lb-sm">Name
                    <input class="form-control input-sm" th:value="${customer.name}" name="name"/>
                </label>
            </div>
            <div class="form-group">
                <label class="lb-sm">Email
                    <input class="form-control input-sm" th:value="${customer.email}" name="email"/>
                </label>
            </div>
            <div class="form-group">
                <label class="lb-sm">LoyaltyCardId
                    <input class="form-control input-sm"
                           th:value="${customer.loyaltyCard != null} ? ${customer.loyaltyCard.id} : ''" name="lcardId"/>
                </label>
            </div>
            <div class="form-group">
                <label class="lb-sm">Sum
                    <input class="form-control input-sm"
                           th:value="${customer.loyaltyCard != null} ? ${customer.loyaltyCard.sum} : ''" name="lcardSum"/>

                </label>
            </div>
        </div>
        <div style="width: 40%; float: right">
            <div class="form-group">
                <label class="lb-sm">zipCode
                    <input class="form-control input-sm" th:value="${customer.address?.zipCode}" name="address.zipCode"/>
                </label>
            </div>
            <div class="form-group">
                <label class="lb-sm">city
                    <input class="form-control input-sm" th:value="${customer.address?.city}" name="address.city"/>
                </label>
            </div>
            <div class="form-group">
                <label class="lb-sm">streetName
                    <input class="form-control input-sm" th:value="${customer.address?.streetName}" name="address.streetName"/>
                </label>
            </div>
            <div class="form-group">
                <label class="lb-sm">buildingNo
                    <input class="form-control input-sm" th:value="${customer.address?.buildingNo}" name="address.buildingNo"/>
                </label>
            </div>
            <div class="form-group">
                <label class="lb-sm">appNo
                    <input class="form-control input-sm" th:value="${customer.address?.appNo}" name="address.appNo"/>
                </label>
            </div>
            <div class="form-group">
                <label class="lb-sm">type
                    <input class="form-control input-sm" th:value="${customer.address?.type}" name="address.type"/>
                </label>
            </div>
        </div>
        <div class="text-center">
            <div class="btn-group">
                <button type="button" id="crtupd" class="btn1 btn-default btn-sm btn-success"
                        onclick="$('#myForm').submit()">
                    Save
                </button>
            </div>
        </div>
        <footer style="margin-top:10px; text-align: center">&copy;Alex, Kyiv, 2017</footer>

    </div>
</form>

<form action="/app/logout" method="post">
    <button type="submit" class="btn btn-warning btn-xs">Log out</button>
</form>

</body>

<script type="text/javascript">
    var name, latch = false;

    function doDelete(comm) {
        $('#command').val(comm);
        $('#Id').val($('.modalDeleteBtn').attr('id'));
        $('#myForm').submit();
    };

    function showDelete(event) {
        $('.modalDeleteBtn').attr('id', event.target.id);
        name = $('#documenttab #row' + event.target.id).text();
        if (!latch) {
            $('#myModalLabel').text($('#myModalLabel').text() + ' \'' + name + '\'');
            latch = true;
        }
        $('#myModal').modal('show');
    };
</script>
</html>